@model IEnumerable<CareerApp.DataTransferObject.Responses.RecourseDisplayResponse>

@{
    ViewData["Title"] = "Başvurular";
}

<h1>Başvurular</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Başvuru no:
            </th>
            <th>
               Başvuru tarihi:
            </th>
            <th>
                İlan:
            </th>
            <th>
                Şirket:
            </th>
          
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecourseDate)
            </td>
            <td>
                    acil şantiye şefi
            </td>
            <td>
                    rönesans holding ltd
            </td>
            <td>
                    <a href="@Url.Action("DeleteRecourse", "JobSeeker", new { recourseId = item.Id })" class="btn btn-primary">Başvuruyu Sil</a>

                  
            </td>
        </tr>
}
    </tbody>
</table>
