
<html>
<head>
</head>
<body>

    <div class="d-grid gap-2">
        <a href="~/Home/CompanyLoginOrRegister" style="padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px;">İşveren İşlemleri</a>
        <a href="~/Home/JobSeekerLoginOrRegister" style="padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px;">İş Arayan İşlemleri</a>
        <a href="~/Home/AdminLoginOrRegister" style="padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px;">Yönetici İşlemleri</a>

    </div>


</body>
</html>








