
<html>
<head>
</head>
<body>

    <div class="d-grid gap-2">
        <a href="~/Home/CompanyLoginOrRegister">İşveren İşlemleri</a>
        <a href="~/Home/JobSeekerLoginOrRegister">İş Arayan İşlemleri</a>
        <a href="~/Admin/Login">Yönetici İşlemleri</a>
    </div>


</body>
</html>








