



        HTML

        <p>İsim: @ViewBag.Name</p>
        <p>Gün: @ViewBag.Day</p>
        <p>Ay: @ViewBag.Month</p>
        <p>Yıl: @ViewBag.Year</p>

        @if (ViewBag.Month == 5)
        {
            <p>Mayıstayız...</p>
        }
    @foreach (var item in ViewBag.MonthList)
    {
        <ul>
        @item
        </ul>
    }
    <a asp-controller="Home" asp-action="Privacy">Gizlilik Bildirimi</a>

