@model CourseDisplayResponse

<div class="card">
    <img src="@Model.ImageUrl" class="img-fluid">
    <div class="card-body">
        <h4 class="card-title">@Model.Name</h4>
        <h4 class="card-text">@Model.Description</h4>
        <h4 class="card-text">@Model.Price</h4>
    </div>
</div>