@model IEnumerable<CourseDisplayResponse>
@{
    ViewData["Title"] = "Home Page";
    var columnCount = 0;
}

<div class="row m-3">
    @foreach (var courseDisplay in Model)
    {
        if (columnCount!=0 && columnCount%4==0)
        {
            @:<div><div class="row m-3">
        }
        <div class="col-3">

            <partial name="_CourseDisplay" model="courseDisplay"></partial>

        </div>

        columnCount++;
        
    }
</div>
