@model IEnumerable<CourseDisplayResponse>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var courseDisplay in Model)
    {
        <div class="col-3">

            <div class="card">
                <img src="@courseDisplay.ImageUrl" class="img-fluid">
                <div class="card-body">
                    <h4 class="card-title">@courseDisplay.Name</h4>
                    <h4 class="card-text">@courseDisplay.Description</h4>
                    <h4 class="card-text">@courseDisplay.Price</h4>
                </div>
            </div>

        </div>
            
    
        
    }
</div>
