﻿
@{
    ViewData["Title"] = "AccessDenied";
}

<h1>Yetki Sorunu</h1>

<p>Üzgünüz @User.Identity.Name: Bu sayfaya erişim izniniz yoktur! </p>
<p> Bir hata olduğunu düşünüyorsanız xyz@xyz adresine mail atabilirsiniz.</p>