@model IEnumerable<SurveyApp.DataTransferObjects.Responses.TheSurveyDisplayResponse>

@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Index";
}

<h1>Anketler</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Anket No
            </th>
            <th>
                Anket Adı
            </th>
            <th>
                Link
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tittle)
                </td>

                <td>
                    @Html.ActionLink("Ankete Git","AnswerTheSurvey","AnswerSurvey", new {  id=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>